<a href="https://colab.research.google.com/github/devdoan/devdoan/blob/main/KhoahocdulieuNC_nhom3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BAT DAU BAI TAP VE NHA MON KHOA HOC DU LIEU NANG CAO

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Teams.csv')

DOI **_RS THANH R_**

In [3]:
df = df.rename(columns={'RS': 'R'})

ti le thang **thuc te** tinh theo _phan tram_

In [4]:
df['WPct'] = df['W'] / (df['W'] + df['L'])

ti le thang **du doan**

In [7]:
df['WPct_hat'] = 1 / (1 + (df['RA'] / df['R']) ** 2)

So **tran thang** theo **du doan**

In [8]:
df['W_hat'] = df['WPct_hat'] * (df['W'] + df['L'])

loc du lieu theo năm

In [9]:
mets_data = df[(df['name'] == 'New York Mets') & (df['yearID'] >= 2004) & (df['yearID'] <= 2012)]

print(df[(df['name'] == 'New York Mets') & (df['yearID'] >= 2004) & (df['yearID'] <= 2012)])

      yearID lgID teamID franchID divID  Rank    G  Ghome   W   L  ...  \
2469    2004   NL    NYN      NYM     E     4  162   81.0  71  91  ...
2498    2005   NL    NYN      NYM     E     3  162   81.0  83  79  ...
2528    2006   NL    NYN      NYM     E     1  162   81.0  97  65  ...
2558    2007   NL    NYN      NYM     E     2  162   81.0  88  74  ...
2588    2008   NL    NYN      NYM     E     2  162   81.0  89  73  ...
2618    2009   NL    NYN      NYM     E     4  162   81.0  70  92  ...
2648    2010   NL    NYN      NYM     E     4  162   81.0  79  83  ...
2678    2011   NL    NYN      NYM     E     4  162   81.0  77  85  ...
2708    2012   NL    NYN      NYM     E     4  162   81.0  74  88  ...

              park attendance BPF PPF  teamIDBR  teamIDlahman45  teamIDretro  \
2469  Shea Stadium  2318951.0  99  99       NYM             NYN          NYN
2498  Shea Stadium  2829929.0  98  97       NYM             NYN          NYN
2528  Shea Stadium  3379535.0  98  97       NYM             NYN          NYN
2558  Shea Stadium  3853955.0  98  97       NYM             NYN          NYN
2588  Shea Stadium  4042045.0  99  98       NYM             NYN          NYN
2618    Citi Field  3168571.0  97  97       NYM             NYN          NYN
2648    Citi Field  2559738.0  97  97       NYM             NYN          NYN
2678    Citi Field  2352596.0  98  98       NYM             NYN          NYN
2708    Citi Field  2242803.0  96  97       NYM             NYN          NYN

          WPct  WPct_hat      W_hat
2469  0.438272  0.466821  75.625011
2498  0.512346  0.553857  89.724909
2528  0.598765  0.565531  91.615997
2558  0.543210  0.534707  86.622554
2588  0.549383  0.555312  89.960528
2618  0.432099  0.439994  71.278955
2648  0.487654  0.503058  81.495408
2678  0.475309  0.483566  78.337706
2708  0.456790  0.456667  73.980118

[9 rows x 51 columns]

su **khac biet** giữa _thắng_ và _thua_ **thục te**

In [ ]:
mets_data['Diff'] = mets_data['W'] - mets_data['W_hat']

Sắp xếp theo sụ khac biet

In [12]:
mets_data_clauch = mets_data [mets_data['L'] > mets_data['W']].copy()
mets_data_clauch['Diff'] = mets_data_clauch['W'] - mets_data_clauch['W_hat']

mets_data_sorted = mets_data_clauch.sort_values(by='Diff', ascending=False)
display(mets_data_sorted)

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro,WPct,WPct_hat,W_hat,Diff
2708,2012,NL,NYN,NYM,E,4,162,81.0,74,88,...,2242803.0,96,97,NYM,NYN,NYN,0.456790,0.456667,73.980118,0.019882
2618,2009,NL,NYN,NYM,E,4,162,81.0,70,92,...,3168571.0,97,97,NYM,NYN,NYN,0.432099,0.439994,71.278955,-1.278955
2678,2011,NL,NYN,NYM,E,4,162,81.0,77,85,...,2352596.0,98,98,NYM,NYN,NYN,0.475309,0.483566,78.337706,-1.337706
2648,2010,NL,NYN,NYM,E,4,162,81.0,79,83,...,2559738.0,97,97,NYM,NYN,NYN,0.487654,0.503058,81.495408,-2.495408
2469,2004,NL,NYN,NYM,E,4,162,81.0,71,91,...,2318951.0,99,99,NYM,NYN,NYN,0.438272,0.466821,75.625011,-4.625011

In [13]:
print(mets_data_sorted[['yearID', 'L' ,'W', 'W_hat', 'Diff', 'Rank']])

      yearID   L   W      W_hat      Diff  Rank
2708    2012  88  74  73.980118  0.019882     4
2618    2009  92  70  71.278955 -1.278955     4
2678    2011  85  77  78.337706 -1.337706     4
2648    2010  83  79  81.495408 -2.495408     4
2469    2004  91  71  75.625011 -4.625011     4